<!-- <div class="row d-none d-md-block"> -->
  <div class="sidebar">
    <ul class="list-group">
      <li class="list-group-item titulo-menu"><h3>Menu</h3></li>
      <li class="list-group-item" *ngIf="admin" routerLinkActive="active">
        <a [routerLink]="['registro']"><i class="fa fa-address-book" ></i>Registar</a>
      </li>
        <li class="list-group-item" routerLinkActive="active">
          <a [routerLink]="['general']"><i class="fa fa-tachometer"></i>General</a>
        </li>
        <li class="list-group-item" routerLinkActive="active">
          <a [routerLink]="['clientes']"><i class="fa fa-users"></i>Clientes</a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['prestamos']"><i class="fa fa-calculator"></i>Préstamos</a>
        </li>
        <li class="list-group-item">
          <a href="#"><i class="fa fa-book"></i>Cobros</a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['tickets']"><i class="fa fa-ticket"></i> Tickets
            <i class="fas fa-exclamation-circle notification"></i>
          </a>

        </li>
        <li class="list-group-item">
          <a href="#"><i class="fa fa-share"></i>Recursos</a>
        </li>
    </ul>
    <ul class="list-group">
      <li class="list-group-item titulo-menu"><h3>Tickets</h3></li>
        <li class="list-group-item">
          <a href="#"><i class="fa fa-circle"></i>Juan Francisco</a>
        </li>
        <li class="list-group-item">
          <a href="#"><i class="fa fa-circle"></i>Pedro Martinez</a>
        </li>
        <li class="list-group-item">
          <a href="#"><i class="fa fa-circle"></i>Agustin Hipona</a>
        </li>
        <li class="list-group-item">
          <a href="#"><i class="fa fa-circle"></i>Laura Soledad</a>
        </li>
        <li class="list-group-item">
          <a href="#"><i class="fa fa-circle"></i>José Guzmán</a>
        </li>
        <li class="list-group-item">
          <a href="#"><i class="fa fa-circle"></i>Penelope García</a>
        </li>
        <li class="list-group-item">
          <a href="#"><i class="fa fa-circle"></i>Carlos Manuel</a>
        </li>
    </ul>
  </div>
<!-- </div> -->


<div class="d-block d-sm-none">
  <ul class="list-group">
    <li class="list-group-item titulo-menu"><h3>Menu</h3></li>
    <li class="list-group-item" *ngIf="admin" routerLinkActive="active">
      <a [routerLink]="['registro']"><i class="fa fa-address-book" ></i>Registar</a>
    </li>
      <li class="list-group-item" routerLinkActive="active">
        <a [routerLink]="['general']"><i class="fa fa-tachometer"></i>General</a>
      </li>
      <li class="list-group-item" routerLinkActive="active">
        <a [routerLink]="['cliente']"><i class="fa fa-users"></i>Clientes</a>
      </li>
      <li class="list-group-item">
        <a href="#"><i class="fa fa-calculator"></i>Préstamos</a>
      </li>
      <li class="list-group-item">
        <a href="#"><i class="fa fa-book"></i>Cierres</a>
      </li>
      <li class="list-group-item">
        <a href="#"><i class="fa fa-ticket"></i>Tickets</a>
      </li>
      <li class="list-group-item">
        <a href="#"><i class="fa fa-share"></i>Recursos</a>
      </li>
  </ul>
</div>
