
<div class="navbar">
  <div class="navbar-content">

    <ul class="navbar-cliente">
      <li class="navbar-cliente-item">
        <a class="btn btn-circle"><i class="fas fa-plus"></i></a>
        <span>Cliente</span>
      </li>
      <li class="navbar-cliente-item">
        <a class="btn btn-circle"><i class="fas fa-plus"></i></a>
        <span>Candidato</span>
      </li>
    </ul>
    <div class="search">
      <input type="text" name="" class="form-control" placeholder="Buscar Cliente">
    </div>
  </div>
</div>
