
<div class="navbar">
  <div class="navbar-content">
    <ul class="navbar-cliente">
      <li class="navbar-cliente-item">
        <a class="btn btn-circle"><i class="fas fa-plus"></i></a>
        <span>Cliente</span>
      </li>    
    </ul>
    <div class="search">
      <input type="text" name="" class="form-control" placeholder="Buscar Cliente">
    </div>
  </div>
</div>


<div class="list-content">
  <!-- <li *ngFor="let cliente of listCliente">
    {{cliente.nombre}}
  </li> -->
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Cédula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Sector</th>
        <th scope="col">Ocupacion</th>
        <th scope="col">Salario</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of listCliente">
        <th scope="row">{{cliente.cedula}}</th>
        <td>{{cliente.nombre+ ' ' +cliente.apellido}}</td>
        <td>{{cliente.telefono}}</td>
        <td>{{cliente.sector}}</td>
        <td>{{cliente.ocupacion}}</td>
        <td>{{cliente.salario}}</td>
        <td><a class="btn btn-circle"><i class="fas fa-pencil-alt"></i></a></td>
      </tr>
    </tbody>
  </table>

  <!-- Paginacion por medio de botones, usando ng repeat-->
  <div class="navagation-page">
    <ul class="pagination pull-right">
        <li class="prev-page" *ngIf="page > 1">
          <button class="btn btn-primary" (click)="PrevPage()">Anterior</button>
        </li>
        <li  class="next-page" *ngIf="pages != page ">
          <button class="btn btn-primary"  (click)="NextPage()">Siguiente</button>
        </li>
    </ul>
  </div>

</div>
