/* You can add global styles to this file, and also import other style files */
body {
  overflow-x:hidden;
  height:100vh;
  background: linear-gradient(to bottom right, #12224A, #060C19);
}

h1,h2,h3,h4,a{
  font-family: 'Comfortaa', cursive;
}
