<div class="bg-agregar-cliente">
<!-- Navbar opciones  -->
  <div class="navbar">
    <div class="navbar-content">
      <ul class="navbar-cliente">
        <li class="navbar-cliente-item">
          <a class="btn btn-circle" (click)="volverListar()"><i class="fas fa-arrow-left"></i></a>
        </li>
        <li class="navbar-cliente-item">
            <h4>Agregar Préstamo</h4>
        </li>
      </ul>
   </div>
 </div>
<!--Close Navbar  -->

<br>
<br>
<br>

  <div class="info-prestamo-s">
    <div class="card seleccion">
      <h4 class="card-title">Selección Cliente</h4>
      <div class="info-cliente">
        <div class="nombre-cliente animated fadeInLeft" *ngIf="selectedCliente">
            <div class="avatar-cliente" *ngIf="!selectedFull.avatar">
              <img src="assets/images/default-user.png" alt="default-user">
            </div>
            <div class="avatar-cliente" *ngIf="selectedFull.avatar">
              <img src="{{url + 'get-image-cliente/' + selectedFull.avatar }}" alt="default-user">
            </div>
            <p>Nombre: <span>{{selectedFull.nombre +" "+ selectedFull.apellido}}</span></p>
            <p>Avg: <span>{{selectedFull.avg}}</span></p>
        </div>
        <div class="seleccion-cliente animated fadeInLeft">
          <ng-select [items]="listCliente" [(ngModel)]="selectedCliente" bindLabel="cedula" bindValue="cedula" placeholder="Seleccione el cliente">
              <ng-template ng-label-tmp let-item="item">
                  {{item.cedula}}
              </ng-template>
          </ng-select>
        </div>
      </div>
      <!-- Seleccionador de cliente -->
    </div>


    <div class="prestamo">
      <div class="card seleccion">
        <h4 class="card-title">Selección de Opciones</h4>
        <form class="form-inline" #addPrestamo="ngForm" (ngSubmit)="onSubmit();">

        <div class="contenido-prestamo">
          <div class="tipo-prestamo">
            <h4>Seleccione</h4>
            <div class="select">
               <select class="select-text" name="tipo" [(ngModel)]="prestamo.tipo" required>
                 <option value="" disabled selected></option>
                 <option value="Personal">Personal</option>
                 <option value="Empresarial">Empresarial</option>
                 <option value="Inmobiliario">Inmobiliario</option>
               </select>
             <span class="select-highlight"></span>
             <span class="select-bar"></span>
             <label class="select-label">Tipo de Préstamo</label>
           </div>
          </div>


         <div class="metodo-pago-prestamo">
           <h4>Método de Pago</h4>
           <div class="md-radio md-radio-inline">
             <input id="1" type="radio" name="metodo" value="Diario" [(ngModel)]="prestamo.metodo_pago" checked>
             <label for="1">Diario</label>
           </div>
           <div class="md-radio md-radio-inline">
             <input id="4" type="radio" name="metodo" value="Semanal" [(ngModel)]="prestamo.metodo_pago"  checked>
             <label for="4">Semanal</label>
           </div>
           <div class="md-radio md-radio-inline">
             <input id="5" type="radio" name="metodo" value="Mensual" [(ngModel)]="prestamo.metodo_pago"  checked>
             <label for="5">Mensual</label>
           </div>
         </div>

          <div class="garantia-prestamo">
            <h4>Seleccione</h4>
            <div class="select">
               <select class="select-text" required>
                 <option value="" disabled selected></option>
                 <option value="Hipotecarias">Hipotecarias</option>
                 <option value="Prendarias">Prendarias</option>
               </select>
             <span class="select-highlight"></span>
             <span class="select-bar"></span>
             <label class="select-label">Garantia de Préstamo</label>
           </div>
          </div>

          <div class="monto-prestamo">
            <h4>Monto del Préstamo</h4>
            <div class="md-form input-group ">
               <div class="input-group-prepend">
                   <span class="input-group-text">RD$</span>
               </div>
               <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" >
               <div class="input-group-append">
                   <span class="input-group-text">.00</span>
               </div>
             </div>
          </div>

          <div class="duracion-prestamo">
            <fieldset>
              <h4>Duración</h4>
              <div class="md-radio md-radio-inline">
                <input id="6" type="radio" name="g2" checked>
                <label for="6">{{duracionP.a}}</label>
              </div>
              <div class="md-radio md-radio-inline">
                <input id="7" type="radio" name="g2" checked>
                <label for="7">{{duracionP.b}}</label>
              </div>
              <div class="md-radio md-radio-inline">
                <input id="8" type="radio" name="g2" checked>
                <label for="8">{{duracionP.c}}</label>
              </div>
              <div class="md-radio md-radio-inline">
                <input id="9" type="radio" name="g2" checked>
                <label for="9">{{duracionP.d}}</label>
              </div>
            </fieldset>
          </div>

          <div class="descripcion-prestamo">
            <div class="md-form ">
              <i class="fas fa-comments prefix"></i>
              <textarea mdbInputDirective type="text"  class="md-textarea form-control" rows="3" ></textarea>
              <label >Descripción</label>
            </div>
          </div>


          <div class="accion">
            <input type="submit" class="btn btn-success"  >
          </div>
         </div>
        </form>

     </div>
    </div>






    <!-- Contenedor Contenido -->
  </div>



  <!--Container full  -->
</div>
