<div class="navbar">
    <div class="navbar-content">
      <ul class="navbar-cliente">
        <li class="navbar-cliente-item">
          <a class="btn btn-circle" (click)="volverListar()"><i class="fas fa-arrow-left"></i></a>
        </li>
        <li class="navbar-cliente-item">
          <h4>Información Cliente</h4>
        </li>
      </ul>
  </div>
</div>
  <div class="info-cliente">
    <div class="avatar-cliente" *ngIf="!cliente.avatar">
      <img src="assets/images/default-user.png" alt="default-user">
    </div>
    <div class="avatar-cliente" *ngIf="cliente.avatar">
      <img src="{{url + 'get-image-cliente/' + cliente.avatar }}" alt="default-user">
    </div>
    <div class="info-basica">
      <div class="card">
        <h5 class="card-title">Información Básica</h5>
          <p>Nombre: <span>{{cliente.nombre}}</span></p>
          <p>Apellido: <span>{{cliente.apellido}}</span></p>
          <p>Cédula: <span>{{cliente.cedula}}</span></p>
      </div>
    </div>


      <div class="info-laboral">
        <div class="card">
          <h5 class="card-title">Información Laboral</h5>
            <p>Ocupación: <span>{{cliente.ocupacion}}</span></p>
            <p>Salario: <span>{{cliente.salario}}</span></p>
            <p>Trabajo: <span>{{cliente.trabajo}}</span></p>
       </div>
    </div>

    <div class="info-contactos">
      <div class="card">
        <h5 class="card-title">Contactos</h5>
          <p>Email: <span>{{cliente.email}}</span></p>
          <p>Dirección: <span>{{cliente.direccion}}</span></p>
          <p>Teléfono: <span>{{cliente.telefono}}</span></p>
          <p>Sector: <span>{{cliente.sector}}</span></p>
      </div>

    </div>
    <div class="info-interna">
      <div class="card">
        <h5 class="card-title">Información Interna</h5>
          <p>Descripción: <span>{{cliente.descripcion}}</span></p>
          <p>Fecha de inicio: <span>{{cliente.fecha | date}}</span></p>
          <p class="score">Avg: <span>{{cliente.avg}}</span></p>
      </div>

    </div>
    <div class="info-dataCredito">
      <div class="card">
        <h5 class="card-title">Información Data Crédito</h5>
          <p class="score">Score: <span>{{cliente.score}}</span></p>
      </div>

    </div>

    <div class="accion">
      <a class="btn btn-danger" data-toggle="modal" (click)="style.show()" mdbRippleRadius><i class="fas fa-times-circle"></i>Borrar</a>
      <a class="btn btn-success" (click)="irEditar()"><i class="fas fa-pencil-alt"></i>Editar</a>
    </div>
  </div>


  <!--Modal  -->

  <div mdbModal #style="mdb-modal" class="modal fade right show" id="SideModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info " role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <p class="heading lead">Eliminar Cliente</p>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
                      <span aria-hidden="true" class="white-text">×</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="text-center">
                      <i class="fas fa-trash-alt fa-4x mb-3 animated rotateIn"></i>
                      <p>Al momento de eliminar al cliente de la base de datos no podrá recuperar la información de este cliente.
                        Estás seguro de eliminar su información
                      </p>
                  </div>
              </div>
              <div class="modal-footer justify-content-center">
                  <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="style.hide()" mdbRippleRadius>Cancelar</a>
                  <a type="button" class="btn btn-primary-modal waves-light" data-dismiss="modal" (click)="style.hide()" (click)="eliminarCliente(cliente._id)" mdbRippleRadius>Eliminar<i class="fas fa-ban ml-1"></i></a>
              </div>
          </div>
      </div>
  </div>
