  .navbar{
    background: #2F55B5;
    width: 100%;
    z-index: 2!important;
    box-shadow: 0px 10px 18px #888888;
  }

  .navbar-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .navbar-cliente{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
  }

  .navbar-cliente-item{
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }

  .navbar-cliente-item a{
    background: linear-gradient(-135deg, #223568, #20315b);
    border-radius: 100%;
  }

  .navbar-cliente-item a i{
    color: #ffca27;
  }

  .info-cliente{
    width: 100%;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .avatar-cliente{
    width: 80%;
    margin-left: 7em;
    justify-content: space-between;
  }

  .avatar-cliente img{
    width: 50%;
    height: auto;
  }

  @media only screen and (min-width: 1100px) {

    .navbar{
      background: #2F55B5;
      width: 104.55%;
      height: 62px;
      position: relative;
      left: -70px;
      z-index: 2!important;
      box-shadow: 0px 10px 18px #888888;
    }

    .navbar-content{
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }

    .navbar-cliente{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
    }

    .navbar-cliente-item{
      justify-content: space-between;
      align-items: center;
      margin-left: 1em;
      margin-top: 5px;
    }

    .info-cliente{
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(3, auto);
      grid-auto-flow: row;
      justify-content: space-around;
      align-content: center;
      grid-row-gap: 5em;
      grid-column-gap: 5em;
      grid-template-areas: 'avatar basica laboral'
                           'contactos interna data-credito'
                           '. accion . ';
    }

    .info-cliente h3{
      color: #12224B;
      font-size: 1.7em;
      font-family: 'Comfortaa', cursive;
      margin-bottom: .7em;
      font-weight: bold;
    }

    .info-cliente p{
      font-weight: bold;
      font-size: 1.2em;
      font-family: 'Comfortaa', cursive;
    }

    .info-cliente p span{
      font-weight:normal;

    }

    .avatar-cliente{
      grid-area: avatar;
      width: 85%;
      height: auto;

    }

    .avatar-cliente img{
      width: 50%;
      height: auto;
    }

    .info-basica{
      grid-area: basica;
      display: flex;
      flex-direction: column;
    }

    .info-laboral{
      grid-area: laboral;
    }

    .info-contactos{
      grid-area: contactos;
    }

    .info-interna{
      grid-area: interna;
    }

    .info-dataCredito{
      grid-area: data-credito;
    }

    .accion{
      grid-area: accion;
    }

    .accion .btn{
      border-radius: 100%;
      margin-left: 1.5em;
    }

    .accion .btn i{
      color: #fff;
      font-size: 1em;
    }

    .score{
      color: red;
      font-size: 1.5em!important;
    }


}
