<div class="col-lg-6 offset-lg-4 login">
  <img src="../../../../assets/images/logo-4r.png" alt="logo-4r">

  <div class="alert alert-success col-lg-6" *ngIf="status == 'success'" role="alert">
      Te has identificado correctamente.
  </div>

  <div class="alert alert-danger col-lg-6" *ngIf="status == 'error'" role="alert">
      No te haz podido identificar correctamente.
  </div>

  <form class="col-lg-6 formulario form-inline" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="md-form">
        <i class="fa fa-user prefix"></i>
        <input mdbActive type="text" id="nombre_usuario" name="nombre_usuario" #nombre_usuario="ngModel" [(ngModel)]="team.nombre_usuario"  class="form-control" required>
        <label for="nombre_usuario" class="">Usuario:</label>
        <br>
        <span *ngIf="!nombre_usuario.valid && nombre_usuario.touched">*El nombre de usuario es obligatorio*</span>
      </div>
      <div class="md-form">
        <i class="fas fa-key prefix"></i>
        <input mdbActive type="password" id="password" name="password" #password="ngModel" [(ngModel)]="team.password"  class="form-control" required>
        <label for="password" class="">Password:</label>
        <br>
        <span *ngIf="!password.valid && password.touched">*El nombre de usuario es obligatorio*</span>
      </div>
      <input type="submit" value="{{title}}" class="btn  col-lg-12 " [disabled]="!loginForm.form.valid">
  </form>

</div>
