@media only screen and (max-width: 500px) {
    img {
        width: 60%!important;
        margin: 20% 0 15% 10%!important;
    }

    p{
      color: white;
      font-size: 18px!important;
    }

    span{
      color: red;
      font-size: 12px!important;
    }
     .btn{
       color: white!important;
     }

    .btn{
      margin-top: 10px!important;
      font-size: 17px!important;
    }

    .alert{
      margin-left: 7%!important;
      width: 90%!important;
    }
}

@media only screen and (max-width: 1200px ) {
    img {
        width: 70%!important;
        margin: 20% 0 15% 10%!important;
    }
    .alert{
      margin-left: 1%!important;
      width: 85%!important;
    }
    .formulario{
      margin-left: 4%;
      width: 90%;
    }
}



    img{
      width: 40%;
      height: auto;
      margin: 15% 0 5% 9%;
    }
    .formulario{
      margin-left: 4%;
    }
    .alert{
      margin-left: 5%!important;
      width: 90%!important;
    }

    p{
      color: white;
      font-size: 18px;
    }

    span{
      color: red;
      font-size: 17px;
    }

    .md-form{
      margin-left: 25px;
    }

    .md-form input{
      width: 325px;
    }

    .md-form label{
      color: white;
      font-size: 1.2em;
    }

    .md-form i{
      color: white;
      font-size: 1.5em;
    }


     .btn{
       color: white!important;
       background: #ffca27;
       margin-top: 10px!important;
       font-size: 18px;
     }
