.title-general{
  display: none;;
}

@media only screen and (min-width: 1100px) {

  .title-general{
    background: linear-gradient(135deg, #223568, #20315b);
    width: 104.55%;
    position: relative;
    left: -70px;
    padding: 1em;
    display: block;
    z-index: 2!important;
    /* box-shadow: 0px 10px 18px #888888; */
  }

  .title-general h2{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    /* Color dorado color: #FFCA27; */
    color: white;
    font-size: 2.1em;
  }

  .navbar{
    background: #2F55B5;
    width: 104.55%;
    height: 62px;

    position: relative;
    left: -70px;
    display: block;
    z-index: 2!important;
    box-shadow: 0px 10px 18px #888888;
  }

  .navbar-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-cliente{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
  }

  .navbar-cliente-item{
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
    margin-top: 5px;
  }

  .navbar-cliente-item a{
    background: linear-gradient(-135deg, #223568, #20315b);
    border-radius: 100%;
  }

  .navbar-cliente-item a i{
    color: #ffca27;
  }

  .navbar-cliente-item span{
    color: white;
    font-size: 1.1em;
    margin-top: 20px!important;
    font-family: 'Comfortaa', cursive;

  }

  .search{
    width: 25%;
    justify-content: flex-end;
    margin-right: 15px;
  }

  .search input{
    border: none;
    background: linear-gradient(135deg, #223568, #20315b);

    margin-top: 5px;
    color: white;
    font-size: 1em;
    font-family: 'Comfortaa', cursive;
  }

  .search input::placeholder{
    margin-left: 15px;
    color: white;
    font-size: 1em;
    font-family: 'Comfortaa', cursive;
  }

  .table{
    margin-top: 3em;
    width: 92%;
  }

  .btn-circle{
    background: linear-gradient(-135deg, #223568, #2F55B5);
    border-radius: 100%;
  }

  .btn-circle i{
    color: #ffca27;
  }

  .list-content{
    position: relative;
  }

  .thead{
    background-color: #2F55B5;
  }

  .thead tr th{
    color: #ffff;
  }

  .tabs-navigation{
    margin-top: 2em;
    width: 88%;
    display: flex;
    justify-content: center;
  }



  .tabs{
    margin-left: 1em;
    background-color: #2F55B5;
    color: #ffff!important;
  }

  .pagination{
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .btn-circle-atras{
    background: #2F55B5;
    border-radius: 50%;
    margin-top: 2em;
  }

  .btn-circle-atras i{
    color: #ffff;
    font-size: 1.5rem;
    margin-top: 2px;
  }


}
