h1,h2,h3,p,label{
  font-family: 'Comfortaa', cursive;
}

.avatar-img{
  width: 80%;
  margin-left: -50px;
}

.avatar-img h3{
  text-align: center!important;
  color: white;
  margin-bottom: 30px!important;
}

.avatar-img img {
  width: 350px;
  height: 350px;
}

.avatar-contenido input{
  margin-top: 30px;
  color: red;
}

.container-fluid{
  margin-top: 80px;
}

.contenido-formulario{
  margin-top: 35px;
  width: 100%;
}

.formulario{
  position: relative;
}
.avatar{
  position: absolute;
  left: 100px;
  top:0px;
  width: 100%;
}

.informacion{
  position: absolute;
  left: 500px;
  top:0px;
  width: 60%;
}

.informacion input{
  width: 100%;
}

input[type="file"]{
  width: 100.1px;
  height: 0.1px;
  opacity: 1;
  position: absolute;
  margin-top: 40px!important;
  overflow: hidden;
  z-index: -1;
}

label[for="subirFoto"]{
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
  color: #fff;
  background-color: #12224B;
  display: inline-block;
  transition: all .5s;
  cursor: pointer;
  padding: 15px 40px !important;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
  margin-top: 20px;
  margin-left:40px;
}

label[for="subirFoto"] i{
  display:inline;
  margin-right: 10px;
}

.alert-update{
  position: absolute;
  top: 650px;
  left: 120px;
  width: 65%;
  text-align: center;
}
