<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-12">
      <h1 style="text-align: center; color:white;">{{title}}</h1>
    </div>
  </div>
  <div class="row contenido-formulario">
      <form #teamPerfil="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="avatar-img" *ngIf="team.avatar">
                <img *ngIf="!imagenTemp" class="rounded-circle" src="{{url + 'get-image-team/' + team.avatar}}" alt="{{identity.avatar}}">
                <img *ngIf="imagenTemp" [src]="imagenTemp" class="rounded-circle">
            </div>
            <p>
              <label for="subirFoto"><i class="fa fa-upload"></i>Upload</label>
              <input type="file" id="subirFoto" (change)="fileChangeEvent($event)">
            </p>
          </div>

          <div class="col-lg-7 col-md-7 col-xs-12 informacion ">
            <p>
                <label>Nombre:</label>
                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="team.nombre"  class="form-control" required>
                <span *ngIf="!nombre.valid && nombre.touched">Este campo es requierido</span>
            </p>
            <p>
                <label>Apellido:</label>
                <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="team.apellido" class="form-control" required>
                <span *ngIf="!apellido.valid && apellido.touched">Este campo es requierido</span>
            </p>
            <p>
                <label>Usuario:</label>
                <input type="text" name="nombre_usuario" #nombre_usuario="ngModel" [(ngModel)]="team.nombre_usuario" class="form-control" required>
                <span *ngIf="!nombre_usuario.valid && nombre_usuario.touched">Este campo es requierido</span>
            </p>
            <p>
                <label>Correo Electrónico:</label>
                <input type="text" name="email" #email="ngModel" [(ngModel)]="team.email" class="form-control" required>
                <span *ngIf="!email.valid && email.touched">Este campo es requierido</span>
            </p>
            <input type="button" id="actualizar" class="btn btn-warning" value="{{title}}" data-toggle="modal" data-target="#Modal">


            <!--<input type="submit" value="{{title}}" class="btn btn-warning" [disabled]="teamPerfil.form.valud"> -->

            <!-- Modal -->
          <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Actualizar tus datos personales</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Esta acción modificará toda la información de tu perfil en el CRM,
                  estás seguro que quieres ejecutar esta proceso de actualización?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                  <input  id="actualizar" type="submit" value="{{title}}" class="btn btn-success" [disabled]="teamPerfil.form.valud"  >
                </div>
              </div>
            </div>
          </div>

          </div>
        </div>
      </form>

  </div>
  <div class="row alert-update">
    <div class="col col-lg-12 col-md-12 col-sm-12 ">
      <div class="alert alert-success" *ngIf="status == 'success'">
          Se han actualizado tus datos correctamente.
      </div>

      <div class="alert alert-danger" *ngIf="status == 'error'">
          No se han podido actualizar tus datos correctamente.
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->

<script >
    $( "#actualizar" ).click(function() {
      console.log('Estoy quitando el modal');
        $('#Modal').modal('dispose');
    });
</script>
