.collapse .navbar-collapse{
  /* float: right!important; */

}

.notification{
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-right: 25px;
  display: inline-block;
}

.notification i{
  font-size: 1.4em!important;
  position: relative;
}

.notification i::after{
  content: '';
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 15px;
  z-index: 1;
}

.notification i span{
  position: absolute;
  top: -13px;
  left: 21px;
  color: white;
  font-size: 1em;
  z-index: 10;
}



i{
  color: #FFCA27;
  font-size: 20px!important;
}
.navigation{
  margin: 0;
  padding: 0px;
  position: sticky;
  z-index: 24;
}

.avatar{
  width: 37px;
  height: 37px;
  border-radius: 200px;
  overflow: hidden;
  margin-right: 10px;
}

.avatar img{
  height: 40px;
  margin-right: 40px;
  text-align: center;
}


.navbar.navbar-expand-lg{
  padding: 15px;
}
.dropdown-item{
  color: white!important;
}

.navbar-nav {
    flex-direction: row;
  }

.navbar-brand{
  margin-left: 40px!important;
}

.dropdown{
  margin-right: 20px!important;
  z-index: 24;
}

.dropdown-item{
  padding-right: .5rem !important;
  padding-left: .5rem !important;
  text-align: center;
}

.dropdown-item:hover{
  background: #B9931D;
}

.active{
  background: red;
  padding: 5px;
}

.btn-group a{
  color: white!important;
  font-size: 20px;
}

.dropdown-toggle{
  margin-top: 5px!important;
  color: white!important;
  font-size: 20px;
}

.dropdown-toggle a:hover{
  background-color: #B9931D;

}

.navigation .dropdown-menu{
  background-color: #12224B!important;
  width:100%;
}

.dropdown-menu{
  position: relative;
  top: 40px;
  z-index: 100!important;
}

.pointer{
  cursor: pointer;
}


@media only screen and (max-width: 500px) {
  .navbar-brand{
    margin-left: 5px!important;
  }

  .navbar-brand img{
    height: auto;
    width: 55px;
  }
  .avatar{
    width: 32px;
    height: 32px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 7px;
  }

  .avatar img{
    height: 35px;
    margin-right: 40px;
    text-align: center;
  }

  .dropdown a{
    font-size: 13.5px;
    text-align: center;
  }

  .dropdown{
    margin-right: 10px!important;
  }

  .notification{
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 25px;
    display: inline-block;
  }

  .notification i{
    font-size: 1.1em!important;
    position: relative;
  }

  .notification i::after{
    content: '';
    background-color: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -10px;
    left: 15px;
    z-index: 1;
  }

  .notification i span{
    position: absolute;
    top: -12px;
    left: 19px;
    color: white;
    font-size: 1em;
    z-index: 10;
  }

}
