.collapse .navbar-collapse{
  /* float: right!important; */

}

i{
  color: #FFCA27;
  font-size: 20px!important;
}
.navigation{
  margin: 0;
  padding: 0px;
}

.avatar{
  width: 37px;
  height: 37px;
  border-radius: 200px;
  overflow: hidden;
  margin-right: 10px;
}

.avatar img{
  height: 40px;
  margin-right: 40px;
  text-align: center;
}


.navbar.navbar-expand-lg{
  padding: 15px;
}
.nav-link{
  color: white!important;
}

.navbar-nav {
    flex-direction: row;
  }

.navbar-brand{
  margin-left: 40px!important;
}

.dropdown{
  margin-right: 20px!important;
}

.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
  text-align: center;
}

.nav-link:hover{
  background: #B9931D;
}

.active{
  background: red;
  padding: 5px;
}

.dropdown a{
  color: white;
  font-size: 20px;
}

.dropdown-toggle{
  margin-top: 15px;
}

.dropdown-toggle a:hover{
  background-color: #B9931D;

}

.navigation .dropdown-menu{
  background-color: #12224B!important;
  position: absolute;
  width:100%;
  left: auto;

}

.pointer{
  cursor: pointer;
}


@media only screen and (max-width: 500px) {
  .navbar-brand{
    margin-left: 15px!important;
  }

  .navbar-brand img{
    height: auto;
    width: 55px;
  }
  .avatar{
    width: 32px;
    height: 32px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 7px;
  }

  .avatar img{
    height: 35px;
    margin-right: 40px;
    text-align: center;
  }

  .dropdown a{
    font-size: 13.5px;
    text-align: center;
  }

  .dropdown{
    margin-right: 10px!important;
  }

}
