
<div class="title-general">
  <h1>{{title}}</h1>
</div>
<!-- Contenedor GRID -->
<div class="grid-container">
  <!-- Cierres  -->

  <div class="box-content bg-background-cierre card grid-item-cierre">
    <div class="box-content-title cierre">
      <h2>Sábado 10 Mar 2018</h2>
    </div>
    <div class="box-content-body">
      <div class="box-content-body-item">
        <h4>Pendiente</h4>
        <p><i class="fa fa-user"></i>5</p>
        <span class="dinero-cierre">{{ 10000 | currency:'RD$'}}</span>
      </div>
      <div class="box-content-body-item">
        <h4>Ingresos</h4>
        <p><i class="fa fa-user"></i>15</p>
        <span class="dinero-cierre">{{ 20000 | currency:'RD$'}}</span>
      </div>
      <div class="box-content-body-item">
        <h4>Total</h4>
        <p><i class="fa fa-user"></i>20</p>
          <span class="dinero-cierre">{{ 30000 | currency:'RD$'}}</span>
      </div>
    </div>
  </div>
  <!-- End Cierres -->


  <!-- Clientes -->
  <div class="box-content bg-background-clientes card grid-item-clientes">
    <div class="box-content-title">
      <h2>Clientes</h2>
      <h3><i class="fa fa-user"></i>{{stats.Estadisticas.clientes}}</h3>
    </div>
    <div class="box-content-body prestamos">
      <div class="box-content-body-item">
        <h4>Activos</h4>
        <p><i class="fa fa-user"></i>5</p>
      </div>
      <div class="box-content-body-item ">
        <h4>Cantidatos</h4>
        <p><i class="fa fa-user"></i>15</p>
      </div>
    </div>
  </div>
  <!-- End Clientes  -->


  <!-- Estadisticas -->
  <div class="box-content bg-background-estadisticas card grid-item-estadisticas">
    <div class="box-content-title">
      <h2>Estadísticas</h2>
    </div>
    <div class="box-content-body">
    </div>
  </div>
<!-- Fin de Estadisticas  -->

  <!-- Préstamos  -->
  <div class="box-content bg-background-prestamos card grid-item-prestamos">
    <div class="box-content-title">
      <h2>Préstamos</h2>
      <h3><i class="fas fa-money-bill-alt"></i>{{stats.Estadisticas.prestamos}}</h3>
    </div>
    <div class="box-content-body prestamos">
      <div class="box-content-body-item">
        <h4>Invertido</h4>
        <span>{{ stats.Estadisticas.monto_prestamo | currency:'RD$'}}</span>
      </div>
      <div class="box-content-body-item ">
        <h4>Ganancias</h4>
        <span>{{ stats.Estadisticas.monto_esperado | currency:'RD$'}}</span>
      </div>
    </div>
  </div>
  <!-- End Préstamos -->

  <!-- Tickets -->
  <div class="box-content bg-background-tickets card grid-item-tickets">
    <div class="box-content-title">
      <h2>Tickets</h2>
      <h3><i class="fas fa-clipboard-list"></i>{{stats.Estadisticas.ticket}}</h3>
    </div>
    <div class="box-content-body prestamos">
      <div class="box-content-body-item">
        <h4>Pendientes</h4>
        <p><i class="fa fa-ticket"></i>5</p>
      </div>
      <div class="box-content-body-item ">
        <h4>Resueltos</h4>
        <p><i class="fa fa-check-circle"></i>15</p>
      </div>
    </div>
  </div>
  <!-- End Tickets  -->





</div>
<!-- END Contenedor GRID -->
