<div class="bg-agregar-cliente">
<!-- Navbar opciones  -->
  <div class="navbar">
    <div class="navbar-content">
      <ul class="navbar-cliente">
        <li class="navbar-cliente-item">
          <a class="btn btn-circle" (click)="volverListar()"><i class="fas fa-arrow-left"></i></a>
        </li>
        <li class="navbar-cliente-item">
            <h4>Ver Préstamo</h4>
        </li>
      </ul>
   </div>
 </div>
<!--Close Navbar  -->

<br>
<br>
<br>
<br>

  <div class="container-prestamo">
    <!-- Container-Cliente - Información del cliente que contiene el préstamo  -->
    <div class="card">
      <h4 class="card-title">Información del Cliente</h4>
      <div class="animated fadeInLeft container-cliente">
          <div class="avatar-cliente" *ngIf="!prestamo.cliente.avatar">
            <img src="assets/images/default-user.png" alt="default-user">
          </div>
          <div class="avatar-cliente" *ngIf="prestamo.cliente.avatar">
            <img src="{{url + 'get-image-cliente/' + prestamo.cliente.avatar }}" alt="default-user">
          </div>
          <div class="info-basica-cliente">
            <p>Cédula: <span>{{prestamo.cliente.cedula}}</span></p>
            <p>Nombre: <span>{{prestamo.cliente.nombre +" "+ prestamo.cliente.apellido}}</span></p>
            <p>Salario: <span>{{prestamo.cliente.salario | currency:'RD$'}}</span></p>
            <p>Score: <span>{{prestamo.cliente.score}}</span></p>
            <p>Avg: <span>{{prestamo.cliente.avg}}</span></p>
          </div>
      </div>
    </div>
    <!-- End Container-Cliente -->
    <br>
    <br>
    <br>
    <br>
    <!-- Container-Prestamo - Información del préstamo  -->
    <div class="card">
      <h4 class="card-title">Información del Préstamo</h4>
      <div class="animated fadeInLeft container-prestamo-info">
          <div class="info-basica-prestamo">
            <p>Tipo de Préstamo: <span>{{prestamo.tipo}}</span></p>
            <!-- <p>Estado del Préstamo: <span>{{prestamo.estado}}</span></p> -->
            <p>Garantia del Préstamo: <span>{{prestamo.garantia}}</span></p>
            <p>Fecha de Creación: <span>{{prestamo.fecha | date }}</span></p>
            <p>Descripción: <span>{{prestamo.descripcion}}</span></p>
          </div>
          <div class="info-montos-prestamos">
            <p>Cantidad del Préstamo: <span>{{prestamo.monto_original | currency:'RD$'}}</span></p>
            <p>Total del Préstamo: <span>{{prestamo.monto_total | currency:'RD$'}}</span></p>
            <p>Interes: <span>{{prestamo.interes |  number : '1.4'}}</span></p>
          </div>
          <div class="info-duracion-prestamos">
            <p>Método de Pago: <span>{{prestamo.metodo_pago }}</span></p>
            <p>Duración: <span>{{prestamo.duracion}}</span></p>
            <p>Cuotas: <span>{{prestamo.cuotas | currency:'RD$'}}</span></p>
            <p>Total de Cuotas: <span>{{prestamo.monto_total/prestamo.cuotas |  number : '1.1'}}</span></p>
          </div>
      </div>
      <a class="btn btn-primary" (click)="irEditar()"><i class="fas fa-gear"></i>  Reajuste de Préstamo</a>
    </div>
    <!-- End Container-Prestamo -->
    <br>
    <br>
    <br>

    <!-- Container-Historial - Mostrar el historia del pago -->

    <div class="card">
    <h4 class="card-title">Historial de Pagos</h4>


    <button type="button" class="btn btn-primary waves-light" data-toggle="modal" data-target="#basicExample" (click)="tablaAmortizacion.show()" (click)="generarTabla()" mdbWavesEffect>
      Tabla de Amortización
    </button>
    <!-- <button type="button" name="button" (click)="generarTabla()" class="btn btn-success"></button> -->
    </div>


  <!--Container Prestamo -->
  </div>
<!--bg-white  -->
</div>


<div mdbModal #tablaAmortizacion="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" overflow="auto">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-200" id="myModalLabel">Tabla de Amortización</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="tablaAmortizacion.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
              <table class="table table-hover">
                <thead class="thead">
                  <tr>
                    <th scope="col">Cuotas</th>
                    <th scope="col">Valor Cuota</th>
                    <th scope="col">Interes</th>
                    <th scope="col">Capital</th>
                    <th scope="col">Saldo Capital</th>
                  </tr>
                </thead>
                <tbody class="tbody">
                  <tr *ngFor="let info of tabla; let i = index">
                    <th scope="row">{{i}}</th>
                    <td>{{info.cuota | currency:'RD$'}}</td>
                    <td>{{info.interes | currency:'RD$'}}</td>
                    <td>{{info.capital | currency:'RD$'}}</td>
                    <td>{{info.saldoCapital | currency:'RD$'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm waves-light" data-dismiss="modal" (click)="tablaAmortizacion.hide()" mdbWavesEffect>Cerrar</button>
                <button type="button" class="btn btn-primary btn-sm waves-light" mdbWavesEffect>Descargar</button>
            </div>
        </div>
    </div>
</div>
