
.general-dashboard {
    background: linear-gradient(-45deg, #C3D2DA, #9DB9C5);
    width: 105%;

}

.dashboard-grid{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: row;
  justify-content: space-around;
  align-content: center;
  grid-template-areas: 'navbar '
                       'general';

}

.dashboard-grid-item-navbar{
  grid-area: navbar;
}
.dashboard-grid-item-general{
  grid-area: general;
}



@media only screen and (min-width: 1024px) {
  .dashboard-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 0.5fr 1fr 1fr ;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: row;
    grid-template-areas: 'navbar navbar navbar'
                         'sidebar general general ';
  }

  .dashboard-grid-item-navbar{
    grid-area: navbar;
  }
  .dashboard-grid-item-sidebar{
    grid-area: sidebar;
  }
  .dashboard-grid-item-general{
    grid-area: general;
  }
}
