<div class="bg-agregar-cliente">
<!-- Navbar opciones  -->
  <div class="navbar">
      <ul class="navbar-cliente">
        <li class="navbar-cliente-item">
          <div class="navbar-client-item-group">
            <a class="btn btn-circle" (click)="volverListar()"><i class="fas fa-arrow-left"></i></a>
            <h4>Votos:  {{tickets.votos}} <i class="fas fa-thumbs-up like-ticket"></i></h4>
          </div>
        </li>
        <!-- <li class="navbar-cliente-item">

        </li> -->
        <li class="navbar-cliente-item">
            <h4>Cliente: {{tickets.cliente}}</h4>
        </li>
        <li class="navbar-cliente-item">
            <!-- <h4>Estado:<span class="estado-ticket" [ngStyle]="{'color':getColor(tickets.estado)}">{{tickets.estado}}</span></h4> -->
            <h4>Estado  <span>{{tickets.estado}}</span> </h4>
        </li>
      </ul>
 </div>

  <br>
  <br>


  <div class="card chat-container">
    <div class="bg-title"></div>
    <div class="title-card">
      <a (click)="detallePrestamos(tickets.prestamo._id)"><i class="far fa-file-alt"></i>Condiciones del Préstamo</a>
    </div>
    <div class="body-card">
      <div class="chat" *ngFor="let comentarios of arrComentario" >
        <img src="{{url + 'get-image-team/' + comentarios.avatar }}" class="img-fluid team-avatar" alt="Responsive image" >
        <div class="team-name">
          <h5>{{comentarios.usuario}}</h5>
          <p class="team-comment">{{comentarios.texto}}</p>
        </div>
      </div>

    </div>
    <div class="footer-card">
      <div class="btn btn-success like" >
        <a  (click)="rizeVoto()"><i class="fas fa-thumbs-up like-ticket"></i></a>
      </div>
      <div class="text-comment">
        <textarea class="md-textarea form-control" [(ngModel)]="comentario"></textarea>
      </div>
        <button (click)="addComment(comentario)" class="btn btn-info send"></button>
    </div>
</div>
